
.home-page {
  text-align: center;
  padding: 40px;
}

.reports-page {
  .placeholder {
    border: 1px solid #ccc;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
